---
layout: compress
---

{% include base_path %}
{% if page.background_image contains "://" %}
  {% capture page_bg_path %}{{ page.background_image }}{% endcapture %}
{% elsif page.background_image %}
  {% capture page_bg_path %}{{ page.background_image | prepend: "/images/" | prepend: base_path }}{% endcapture %}
{% endif %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="page-theme--{{ page.page_theme | default: 'default' }}"{% if page_bg_path %} style="--page-bg-image: url('{{ page_bg_path }}');"{% endif %}>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
